@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  overflow: hidden;
}

.fundo{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  background-color: black;
  background-image: url('../assets/img/argentina.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 6%;
  min-width: 100%;
  height: fit-content;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

header ul {
  display: flex;
}

header ul li {
  list-style: none;
}

header ul li a {
  display: inline-block;
  color: gold;
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 20px;
}

header ul li :hover {
  /* transform: translateY(-5%); */
  transform: scale(1.1);
  transition: 0.5s;
  color: white;
}

header ul li .Sign_In {
  display: inline-block;
  color: black;
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 20px;
  background-color: gold;
  border-radius: 3%;
  margin: 0 5px;
}

.logo .image img:hover {
  transform: rotate(360deg);
  transition: 1s;
}

body h2 {
  color: white;
}

main {
  background-color: #3d3d3d;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 50%;
  min-height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  text-align: center;
}

.spnQtd {
  text-align: end;
  color: white;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button {
  width: 100%;
  text-align: start;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  color: black;
}

.finish {
  display: none;
  flex-direction: column;
  gap: 10px;
}

.finish button {
  text-align: center;
}

.question{
  color: white;
}

#logout{
  display: none;
}