@font-face {
    font-family: Poppins;
    src: url(../assets/font/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-bold;
    src: url(../assets/font/Poppins-Bold.ttf);
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    background-color: black;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    padding-top: 10%;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 6%;
    min-width: 100%;
    height: fit-content;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
header ul {
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a{
    display: inline-block;
    color: gold;
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 20px;
}
header ul li :hover{
    /* transform: translateY(-5%); */
    transform: scale(1.1);
    transition: 0.5s;
    color: white;
}
header ul li .Sign_In{
    display: inline-block;
    color: black;
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 20px;
    background-color: gold;
    border-radius: 3%;
    margin: 0 5px;
}

.logo .image img:hover{
    transform: rotate(360deg);
    transition: 1s;
}

.graficos{
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tituloGraficos{
    color: white;
    text-align: center;
    width: fit-content;
}

.graph{
    width: 400px;
    height: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
}


#perfil{
    display: none;
}

#logout{
    display: none;
}